.about--page {
  margin-bottom: 2rem;
  border-bottom: var(--border);
}

.about--section {
  margin-bottom: 2rem;
  border-bottom: var(--border);
  padding-bottom: 2rem;
  font-size: 1.1rem;
}

.about--section:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.about--section--container {
  padding-right: 1rem;
}

.skills--container {
  display: flex;
  flex-wrap: wrap;
}

.about--heading {
  margin-bottom: 1rem;
}

.skills--container > .bubble {
  border: 2px solid var(--text);
  color: var(--text);
}

.skills--container > .bubble:hover {
  border: 2px solid var(--accent);
  transition: border 300ms ease-in, background 300ms ease-in, color 300ms ease-in
}

.grid > .image--container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .grid > .image--container {
    justify-content: flex-end;
    padding-top: 1rem;
  }
}
