.about--page {
  margin-bottom: 2rem;
}

.about--section {
  margin-bottom: 2rem;
  border-bottom: var(--border);
  padding-bottom: 2rem;
  font-size: 1.1rem;
  text-align: justify;
}

.about--section p {
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
}

.about--section:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.about--section--container {
  padding-right: var(--marginMobile);
  padding-left: var(--marginMobile);
  border-left: 4px solid var(--mid);
}

.about--heading {
  margin-bottom: 1rem;
}

.skills--container {
  display: flex;
  flex-wrap: wrap;
}

.skills--container > .bubble {
  border: 2px solid var(--text);
  color: var(--text);
}

.skills--container > .bubble:hover {
  border: 2px solid var(--accent);
  transition: border 300ms ease-in, background 300ms ease-in, color 300ms ease-in
}

.grid > .image--container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .grid > .image--container {
    justify-content: flex-end;
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .about--section--container {
    padding-right: var(--marginDesktop);
    padding-left: var(--marginDesktop);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}