/* .grid-container {
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../grid-small.png');
} */

/* .black--grid--small {
  height: 15rem;
  width: 100%;
}

.background--image {
  height: 100%;
  background-image: url("../square.png");
  background-position: center;
  background-size: 1rem 1rem;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
} */
