.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.project--container {
  margin-bottom: 2rem;
  display: flex;
}

.project {
  /* background: var(--dark); */
  display: flex;
  flex-direction: column;
  /* box-shadow: var(--bs); */
  border-radius: 3px;
}

/* .project::after {
  content: "";
  height: 2px;
  width: 8rem;
  background: var(--light);
  margin: 2rem auto;
  transform: rotate(-5deg);
  position: relative;
  bottom: -2rem;
} */

.project:hover .description--container {
  border-top: 1px solid var(--accent);
  transition: border 300ms ease-in;
}

.project:hover > footer {
  border-top: 1px solid var(--accent);
  transition: border 300ms ease-in;
  transition-delay: 100ms;
}

.project:hover .project--info {
  border-bottom: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  transition: border 300ms ease-in;
  transition-delay: 200ms;
}

.project--container:nth-of-type(2n-1) .project::after {
  transform: rotate(5deg);
}

.project--title {
  margin-bottom: 0.5rem;
}

.language--container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.project > .image--container {
  margin-bottom: 0.5rem;
  align-items: center;
  /* min-height: 190px;  */
  height: 200px;
  overflow: hidden;
}

.description--container {
  flex-grow: 1;
  border-top: 1px solid var(--mid);
  padding: 0.5rem;
}

.project > div {
  font-size: 1rem;
  font-weight: 400;
}

.project > footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid var(--mid);
}

.project--info {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: var(--border);
  border-right: var(--border);
  text-decoration: none;
  color: var(--text);
}

.project--info:hover > * {
  color: var(--accent);
  transition: color 300ms ease-in;
}

.project--info > * {
  margin-bottom: 0.3rem;
}

.project--info > svg {
  margin-left: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .project {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .project > .image--container {
    max-height: 240px;
  }
}
